/* Estilo para a tela de aviso de rotação */
#rotate-warning {
  position: fixed;
  display: none;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background: rgba(255, 255, 255, 0.95);
  align-items: center;
  justify-content: center;
  z-index: 9999;
}

#rotate-warning img {
  max-width: 90%;
  height: auto;
}

/* Conteúdo principal */
#main-content {
  padding: 2rem;
  text-align: center;
}
